{% extends "base.html" %}

{% block head %}
<title>
    Wyszukiwarka odżywek
</title>
{% endblock %}

{% block body %}
<h1>
    Odżywki
</h1>
<form action="/" method="GET" id="type_form">
    <h3>Filtrowanie po typach:</h3>
    <input type="submit" name="conditioner_type" value="PEH" {% if website_state["last_conditioner_type"] == "PEH" %} disabled {% endif %}>
    <input type="submit" name="conditioner_type" value="PE" {% if website_state["last_conditioner_type"] == "PE" %} disabled {% endif %}>
    <input type="submit" name="conditioner_type" value="EH" {% if website_state["last_conditioner_type"] == "EH" %} disabled {% endif %}>
    <input type="submit" name="conditioner_type" value="PH" {% if website_state["last_conditioner_type"] == "PH" %} disabled {% endif %}>
    <input type="submit" name="conditioner_type" value="P" disabled>
    <input type="submit" name="conditioner_type" value="E" {% if website_state["last_conditioner_type"] == "E" %} disabled {% endif %}>
    <input type="submit" name="conditioner_type" value="H" disabled>
    <button type="submit" name="conditioner_type" value="ALL" {% if website_state["last_conditioner_type"] == "ALL" or "last_conditioner_type" not in website_state.keys() %} disabled {% endif %}>
        Wyczyść filtry
    </button>
</form>

<form action="/" method="GET" id="price_sort">
    <h3>Sortowanie po cenach:</h3>
    <button type="submit" name="sort_order" value="ASC" {% if website_state["sort_order"] == "ASC" %} disabled {% endif %}>
        Rosnąco
    </button>
    <button type="submit" name="sort_order" value="DESC" {% if website_state["sort_order"] == "DESC" %} disabled {% endif %}>
        Malejąco
    </button>
    <button type="submit" name="sort_order" value="DEFAULT" {% if not website_state["sort_order"] or "sort_order" not in website_state.keys() %} disabled {% endif %}>
        Domyślnie
    </button>
</form>

<form action="/" method="POST" id="hair_condition_form">
    <h3>Rekomendacja odżywek na podstawie kondycji włosów:</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <label class="switch">
                <input type="checkbox" name='hair_condition' value="Nadmierne obciążenie">
                <span class="slider round"></span>
                Nadmierne obciążenie
            </label>
        </li>
        <li class="list-group-item">
            <label class="switch">
                <input type="checkbox" name='hair_condition' value="Strączkowanie">
                <span class="slider round"></span>
                Strączkowanie
            </label>
        </li>
        <li class="list-group-item">
            <label class="switch">
                <input type="checkbox" name='hair_condition' value="Matowość">
                <span class="slider round"></span>
                Matowość
            </label>
        </li>
        <li class="list-group-item">
            <label class="switch">
                <input type="checkbox" name='hair_condition' value="Suchość">
                <span class="slider round"></span>
                Suchość
            </label>
        </li>
        <li class="list-group-item">
            <label class="switch">
                <input type="checkbox" name='hair_condition' value="Łamanie się włosów">
                <span class="slider round"></span>
                Łamanie się włosów
            </label>
        </li>
        <li class="list-group-item">
            <label class="switch">
                <input type="checkbox" name='hair_condition' value="Elektryzowanie">
                <span class="slider round"></span>
                Elektryzowanie
            </label>
        </li>
        <li class="list-group-item">
            <label class="switch">
                <input type="checkbox" name='hair_condition' value="Puch">
                <span class="slider round"></span>
                Puch
            </label>
        </li>
        <li class="list-group-item">
            <label class="switch">
                <input type="checkbox" name='hair_condition' value="Rozprostowanie skrętu">
                <span class="slider round"></span>
                Rozprostowanie skrętu
            </label>
        </li>
        <li class="list-group-item">
            <label class="switch">
                <input type="checkbox" name='hair_condition' value="Szybkie przetłuszczanie">
                <span class="slider round"></span>
                Szybkie przetłuszczanie
            </label>
        </li>
    </ul>
    <button type="submit">Zatwierdź</button>
</form>

<main>
    {% for conditioner in conditioners %}
    <a href="{{ conditioner.url }}" target="_blank">
        <div class="conditioner">
            <p>{{ conditioner.name }}</p>
            <p>{{ conditioner.price }}</p>
            <p>{{ conditioner.pred_type }}</p>
        </div>
    </a>
    {% endfor %}
</main>

<form action="/" method="GET" id="pagination">

    <button type="submit" name="page" value="first" {% if website_state["current_page"] == 1 %} disabled {% endif %}>
        &lt;&lt;
    </button>

    <button type="submit" name="page" value="previous" {% if website_state["can_click_previous"] == False %} disabled {% endif %}>
        &lt;
    </button>

    {{ website_state['current_page'] }} / {{ website_state['total_pages'] }}


    <button type="submit" name="page" value="next" {% if website_state["can_click_next"] == False %} disabled {% endif %}>
        &gt;
    </button>

    <button type="submit" name="page" value="last" {% if website_state["current_page"] == website_state['total_pages'] %} disabled {% endif %}>
        &gt;&gt;
    </button>

</form>

{% endblock %}