@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #DCBFFF;
}

/* Lewa część ekranu */

#hair_condition_form {
    width: 400px;
    height: 100vh;
    float: left;
    background-color: #F1EAFF;
    position: fixed;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

#hair_condition_form.closed {
    transform: translateX(-336px);
}

#hair_condition_form_top {
    display: flex;
}

#hair_condition_form_header_container {
    width: calc(100% - 64px);
    padding: 12px 48px;
}

#hair_condition_form_header_container > h3 {
    font-weight: 500;
    font-size: 18px;
}

#toggle_hair_condition_form {
    width: 24px;
    height: 24px;
    margin: 12px 24px;
    background-image: url("../images/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
    cursor: pointer;
    transform: rotate(180deg);
}


#toggle_hair_condition_form:hover {
    filter: invert(0.3);
}

#hair_condition_form.closed #toggle_hair_condition_form{
    transform: rotate(0deg);
}

#hair_condition_options_list {
    padding: 12px 48px;
}

#hair_condition_options_list > div {
    margin-bottom: 12px;
}

#hair_condition_form > button[type="submit"] {
    width: 100px;
    margin-left: 48px;
    cursor: pointer;
}

/* Prawa część ekranu */

#content {
    width: calc(100% - 400px);
    float: left;
    margin-left: 400px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

#content.expand {
    width: calc(100% - 64px);
    margin-left: 64px;    
}

#filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#type_form {
    padding: 20px;
}
#type_form > input,
#type_form > button {
    border-radius: 18px;
    width: 36px;
    height: 36px;
    margin-bottom: 4px;
    cursor: pointer;
}

#type_form > input:disabled,
#type_form > button:disabled {
    cursor: default;
}

#type_form > button[type='submit'] {
    background-color: #D0A2F7;  
}

#sort {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

#dollar_symbol {
    background-image: url("../images/dollar.png");
    display: block;
}

#price_sort {
    font-size: 0;
    display: flex;
}

#price_sort > button {
    cursor: pointer;
}

#price_sort > button:first-child {
    background-image: url("../images/sort_asc.png");
    border-right: 0;
    padding: 5px;
    border-radius: 5px 0 0 5px;
}

#price_sort > button:last-child {
    background-image: url("../images/sort_desc.png");
    border-left: 0;
    border-radius: 0 5px 5px 0;
}

#price_sort > button:disabled,
#sort > button:disabled {
    border-color: black;
    cursor: default;
}

#sort > button {
    background-image: url("../images/az.png");
    margin-left: 6px; 
    border-radius: 5px;
    cursor: pointer;
}

#dollar_symbol, 
#price_sort > button,
#sort > button{
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    width: 36px;
    height: 36px;
}

#type_recommendation_text {
    text-align: center;
    font-size: 20px;
}

#main_area {
    background-color: #E5D4FF;
    border-radius: 5px;
    margin: 24px 36px 36px 36px;
    padding: 24px;
}

#conditioners_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 24px;
    padding: 24px;
}

#conditioners_list > a {
    display: block;
    background-color:#F1EAFF;
    aspect-ratio: 1 / 1;
    padding: 12px;
    position: relative;
    text-decoration: none;
    color: #111;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.3);
}

#top_part_conditioner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#conditioners_list > a:nth-child(odd) #product_image {
    background-image: url("../images/product1.png");
}

#conditioners_list > a:nth-child(even) #product_image {
    background-image: url("../images/product2.png");
}

#product_image {
    background-size: 120px 120px;
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: 120px;
}

#conditioner_type {
    font-weight: 500;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: solid #8220d8 1px;
    border-radius: 20px;
    background-color: #f7f7f7;
    color: #8220d8;
}

#conditioner_brand {
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#conditioners_list > a abbr {
    text-decoration: none;
}

#conditioner_name {
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 24px;
}

#conditioner_price {
    font-size: 12px;
    position: absolute;
    left: 12px;
    bottom: 12px;
    font-weight: 600;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pagination > button {
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    cursor: pointer;
}

#pagination > button:disabled {
    cursor: default;
}

#pagination > button:first-child {
    background-image: url("../images/double_arrow.png");
    background-size: contain;
}

#pagination > button:nth-of-type(2) {
    background-image: url("../images/left_arrow.png");
    background-size: 16px 16px;
    margin-left: 5px;
    margin-right: 5px;
}

#pagination > button:nth-of-type(3) {
    background-image: url("../images/arrow.png");
    background-size: 16px 16px;
    margin-left: 5px;
    margin-right: 5px;
}

#pagination > button:last-child {
    background-image: url("../images/double_arrow.png");
    transform: rotate(180deg);
    background-size: contain;
}

@media (max-width: 600px) {
  #hair_condition_form {width: 100vw;}
  #conditioners_list {display: block;}
  #conditioners_list > a {height: unset; margin-top: 12px;}
  #conditioner_price {position: static;}
  #main_area {margin: 12px 18px 18px 18px}
  #content.expand {margin-left: 64px; width: calc(100% - 64px);}
  #hair_condition_form.closed {transform: translateX(calc(-100vw + 64px));}
}