@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #E5D4FF;
}

/* Lewa część ekranu */

#hair_condition_form {
    width: 400px;
    height: 100vh;
    float: left;
    background-color: #F1EAFF;
    position: fixed;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

#hair_condition_form.closed {
    transform: translateX(-336px);
}

#hair_condition_form_top {
    display: flex;
}

#hair_condition_form_header_container {
    width: calc(100% - 64px);
    padding: 12px 48px;
}

#hair_condition_form_header_container > h3 {
    font-weight: 500;
    font-size: 18px;
}

#toggle_hair_condition_form {
    width: 24px;
    height: 24px;
    margin: 12px 24px;
    background-image: url("../images/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
    cursor: pointer;
    transform: rotate(180deg);
}


#toggle_hair_condition_form:hover {
    filter: invert(0.3);
}

#hair_condition_form.closed #toggle_hair_condition_form{
    transform: rotate(0deg);
}

#hair_condition_options_list {
    padding: 12px 48px;
}

#hair_condition_options_list > div {
    margin-bottom: 12px;
}

#hair_condition_form > button[type="submit"] {
    width: 100px;
    margin-left: 48px;
}

/* Prawa część ekranu */

#content {
    width: calc(100% - 400px);
    float: left;
    margin-left: 400px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

#content.expand {
    width: calc(100% - 64px);
    margin-left: 64px;    
}

#filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#type_form {
    padding: 20px;
}
#type_form > input,
#type_form > button {
    border-radius: 18px;
    width: 36px;
    height: 36px;
    margin-bottom: 4px;
}

#type_form > button[type='submit'] {
    background-color: #D0A2F7;    
}

#sort {
    display: flex;
    flex-direction: row;
}

#dollar_symbol {
    background-image: url("../images/dollar.png");
    display: block;
}

#price_sort {
    font-size: 0;
    display: flex;
}

#price_sort > button:first-child {
    background-image: url("../images/sort_asc.png");
    border-right: 0;
    padding: 5px;
    border-radius: 5px 0 0 5px;
}

#price_sort > button:last-child {
    background-image: url("../images/sort_desc.png");
    border-left: 0;
    border-radius: 0 5px 5px 0;
}

#price_sort > button:disabled,
#sort > button:disabled {
    border-color: black;
}

#sort > button {
    background-image: url("../images/az.png");
    margin-left: 6px; 
    border-radius: 5px;
}

#dollar_symbol, 
#price_sort > button,
#sort > button{
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    width: 36px;
    height: 36px;
}



#sort {
    padding: 20px;
}

#type_recommendation_text {
    text-align: center;
    font-size: 20px;
}